.contenedor {
    margin: 0 auto;
    width: 1000px
    }
.box-cabecera {
    margin: 40px auto
    }
.texto-header {
    display: inline-block;
    margin: 45px 50px;
    vertical-align: top
    }
p.texto-movil {
    display: none
    }
.box-foto {
    /*background: url(/especiales/viu-100/img/box-foto.jpg) no-repeat 0 0;*/
    height: 715px;
    position: relative;
    /*width: 1000px;*/
    }
.box-image-upload {
    cursor: move;
    height: 615px;
    overflow: hidden;
    position: absolute;
    /*right: 39px;
    			top: 52px;*/
    width: 820px
    }
.avatar {
    /*background: url(/especiales/viu-100/img/avatar-revista.png) no-repeat 0 0;
    				height: 610px;*/
    position: absolute;
    /*width: 482px;*/
    z-index: 10
    }
img#upload {
    border: none;
    /*margin-left: -50%; */
    /*-width: 126%;*/
    }
.botones {
    bottom: -20px;
    left: 40%;
    margin-left: -150px;
    margin: 0 auto;
    position: absolute
    }
.boton {
    cursor: pointer;
    display: inline-block;
    height: 86px;
    vertical-align: top;
    width: 86px
    }
.boton-1 {
    background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/que-mujer-del-cine-o-television-eres/img/sprites-sube-foto.png) no-repeat 0 -102px;
    border: none;
    height: 86px;
    text-indent: -9999px;
    width: 86px
    }
.boton-2 {
    background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/que-mujer-del-cine-o-television-eres/img/sprites-sube-foto.png) no-repeat -99px -102px
    }
.boton-3 {
    background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/que-mujer-del-cine-o-television-eres/img/sprites-sube-foto.png) no-repeat -197px -102px
    }
.botones ul {
    padding: 0
    }
.footer {
    background: #ee2a58;
    margin: 50px 0 0;
    padding: 25px 0 40px;
    width: 100%
    }
.footer a {
    background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/viu-100/img/sprites.png) no-repeat 0 0;
    display: block;
    height: 26px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 168px
    }
.wraptocenter {
    display: table-cell;
    height: 610px;
    text-align: center;
    vertical-align: middle;
    width: 482px
    }
.wraptocenter * {
    vertical-align: middle
    }
.box-image-upload:hover .avatar {
    z-index: -1
    }
@media (max-width: 736px) {
    .logo-comercio {
        padding: 10px 0
        }
    .logo-comercio a {
        display: block;
        float: inherit;
        margin: 0 auto
        }
    .contenedor {
        width: 100%
        }
    .box-cabecera {
        margin: 25px auto
        }
    .texto-viu {
        display: block;
        margin: 0 auto;
        vertical-align: top
        }
    p.texto-movil {
        border-bottom: #ef2b58 2px solid;
        border-top: #ef2b58 2px solid;
        color: #636466;
        display: block;
        font: 32px/36px "glosa_displaybold_italic";
        margin: 20px;
        padding: 5px;
        text-align: center
        }
    }